body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.table{
	width:100%; 	
	overflow:auto;
	
}
.table .th{
	display:inline-block;
	width:90px;
	padding-bottom:10px;
	font-weight:bold;
	text-align:left;
}
.table .thead .tr{
	background-color:#ccc;
	padding-top:5px;
}
.table .tr{
	clear:both;
	overflow:hidden;
	height:30px;
	white-space:nowrap;
	border:solid 1px #ccc;
	border-left:none;
	border-top:none;
}
.table .td{
	padding: 5px 0 5px 5px;
	height:30px;
	overflow:hidden;
	display:inline-block;
	text-align:left;
	border-left:solid 1px #ccc;
	text-overflow:ellipsis;
}
